<header>
    <nav class="header-nav">
        <a class="header-title" href="/">runLib</a>
        <ul>
            <li class="header-link"><a href="/locations">Locations</a></li>
            <li class="header-link"><a href="/locations/new">Add Location</a></li>
            <li class="header-link"><a href="/runs">Runs</a></li>
            <li class="header-link"><a href="/runs/new">Add Run</a></li>
        </ul>
    </nav>
</header>