<header>
    <nav>
        <a href="/">Runlib</a>
        <ul>
            <li><a href="/locations">Locations</a></li>
            <li><a href="/locations/new">Add Location</a></li>
            <li><a href="/runs">Runs</a></li>
            <li><a href="/runs/new">Add Run</a></li>
        </ul>
    </nav>
</header>