<h2> class="page-header"Edit Run</h2>
<form action="/runs/<%= run.id %>?_method=PUT" method="POST">

    <%- include("_form_fields") %>
    <a href="/runs">Cancel</a>
    <button type="submit">Update</button>
</form>