<h2>Search Runs</h2>

<form action="/runs" method="GET">


    <label>Location</label>
    <input type="text" name="location" value="<% searchOptions.location %>">
    </div>

    <button type="submit">Search</button>

</form>
<div>
    <% runs.forEach(run => { %>
        <a href="/runs/<%= run.id %>">
            <img height="150" width="150" src="<%= run.coverImagePath %>">
        </a>
    <% }) %>
</div>