<h2 class="page-header">Recently Added</h2>

<div class="run-grid">
    <% runs.forEach(run => { %>
        <a href="/runs/<%= run.id %>">
            <img class="ra-image" height="350" width="350" src="<%= run.coverImagePath %>">
        </a>
    <% }) %>
</div>