<h2 class="page-header">Recently Added</h2>

<div>
    <% runs.forEach(run => { %>
        <a href="/runs/<%= run.id %>">
            <img height="400" width="400" src="<%= run.coverImagePath %>">
        </a>
    <% }) %>
</div>