<h2>Recently Added</h2>

<div>
    <% runs.forEach(run => { %>
        <a href="/runs/<%= run.id %>">
            <img height="150" width="150" src="<%= run.coverImagePath %>">
        </a>
    <% }) %>
</div>