/* noto-sans-jp-500 - latin */
@font-face {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 500;
    src: url('/public/fonts/noto-sans-jp-v28-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/public/fonts/noto-sans-jp-v28-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/public/fonts/noto-sans-jp-v28-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('/public/fonts/noto-sans-jp-v28-latin-500.woff') format('woff'), /* Modern Browsers */
         url('/public/fonts/noto-sans-jp-v28-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/public/fonts/noto-sans-jp-v28-latin-500.svg#NotoSansJP') format('svg'); /* Legacy iOS */
}

/* noto-sans-jp-700 - latin */
@font-face {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/noto-sans-jp-v28-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/noto-sans-jp-v28-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/noto-sans-jp-v28-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/noto-sans-jp-v28-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/noto-sans-jp-v28-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/noto-sans-jp-v28-latin-700.svg#NotoSansJP') format('svg'); /* Legacy iOS */
}


